
body{	
	background-size: cover;
	font-family:sans-serif;
	color:black;
	background-image:url('images/bg-9-full.jpg');
}
div#interface{
	width:70%;
	background-color: white;
	margin:-20px auto 10px auto;
	box-shadow:1.2px 0px 2px rgba(0,0,0,0.2);  
	padding:2% ;   
}
header#cabecalho img#icone{
	position: absolute;
	left:420px;
	top:4px;
	max-width:40px;
	height:auto;
}
header#cabecalho{	 
	height:20px; 	 
}
header#cabecalho h1{
	position:absolute;
	font-family: Arial, sans-serif;
	font-size:50px; 
	color:#E74C3C; 
	text-shadow:1px 1px 1px #D6DBDF; 
	left:190px;
	top:-40px;
}
header#cabecalho h1#second{
	position:absolute;
	font-family: Arial, sans-serif;
	font-size:50px; 
	color:#221220; 
	text-shadow:1px 1px 1px #D6DBDF; 
	left:350px;
	top:-40px;
}


/*formatação do menu*/

nav#menu{
	display:block;
}

nav#menu ul {
    
     text-transform:uppercase;
     list-style:none;
     position:absolute;
     top:-20px;
     left: 440px; 

}
nav#menu li{
	display:inline-block;
	background-color:white;
	padding:10px;
	margin:-3px;
	transition:background-color 0.8s;
	border:1px solid black; 
}
nav#menu li:hover{
    background-color:#E74C3C ;
}
nav#menu h1{
	display: none;
}

nav#menu a {
	color: black;
	text-decoration: none;


}
nav#menu a:hover{
	color: white;

}

footer{
	padding:0 2% 0 2%;
	position: relative;
    left: 0;
    bottom: 0;
    width: 70%;
    margin:-9px auto auto auto;
	box-shadow:1.2px 2px 2px rgba(0,0,0,0.2); 
    background-color: #E74C3C;
    color: white;
    text-align: center;
}
.coluna{
	float: left;
}
.colaboradores{
	width: 50%;
}
.novidades{
	width: 50%;
}

footer:after{
	display: table;
}

.bill{
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 120px;
    float: left;
}
.copy{
	background-color:black;
	width:100%; 
}
hr{
	width: 100%;
	margin:20px 0 0 10px;

}
/* TEXTO FORMATAÇÃO*/
p {
	text-align:justify;
}


